<div class="min-h-screen h-full flex flex-col">
  <header
    class="sticky top-0 z-50 w-full border-b border-zinc-300 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
    <nav class="max-w-7xl flex gap-12 items-center mx-auto h-full">
      <app-logo />
      <div class="space-x-12">
        @for (item of menu; track $index) {
        <a [routerLink]="item.href">{{
          item.label }}</a>
        }
      </div>
    </nav>
  </header>

  <main class="max-w-7xl mx-auto flex-1 w-full p-4 md:p-8">
    <router-outlet />
  </main>

  <footer class="w-full p-4">
    <section class="max-w-7xl mx-auto">
      <span class="text-left self-center">CS Setup Helper &copy;
        {{activeFrom}}-{{currentYear}}.<br />Built for the CS2
        community. Not
        affiliated with
        Valve
        Corporation.</span>
    </section>
  </footer>
</div>