<header>
    <p>TODO: clickable stages timeline sortof</p>
    <ul class="list-disc list-inside">
        <li>Manage state of each step - skipped? completed?</li>
        <li>Hardware</li>
        <li>Performance</li>
        <li>Visuals</li>
        <li>Crosshair</li>
        <li>Keybindings</li>
        <li>Mouse Settings</li>
        <li>Review & Apply</li>
    </ul>

    <section>
        <p>TODO: put here all the rest of the components:</p>
        <ol class="list-decimal list-inside">
            <li>Video Settings</li>
            <li>Audio Settings</li>
            <li>Crosshair Settings</li>
            <li>Keybindings</li>
            <li>Mouse Settings</li>
        </ol>
    </section>
</header>